body {
  font-family: Georgia, serif;
  font-size: 16px;
  box-sizing: border-box;
}
main {
  display: block;
  margin-left: 0;
}
nav {
  flex: 0 0 20%;
  font-size: 1.1rem;
}
article {
  flex: 1;
  padding: 1rem;
}
.main-section {
  color: #111717;
  font-size: 1.1rem;
}
.main-section header {
  font-size: 1.3rem;
  margin-bottom: 30px;
}
nav > header {
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-align: center;
}
.nav-link {
  color: #1B2222;
  text-decoration: none;
}
ul {
  padding-inline-start: 0;
  list-style-type: none;
  padding-left: 10px;
}
li {
  margin: 20px 0;
}
code {
  background-color: lightgray;
  font-family: monospace;
  padding: 2px;
  margin-bottom: 5px;
  line-height: 1.5;
}
p {
  line-height: 1.3;
  margin-bottom: 30px;
  margin-left: 10px;
}
.reference-link {
  text-decoration: none;
  color: #414288;
  font-weight: bold;
}
#navbar {
  position: static;
  width: 100%;
  height: auto;
}
#navbar li {
  border-bottom: 1px solid black;
  padding: 10px 0;
}
@media (min-width: 769px) {
  #navbar {
    position: fixed;
    left: 0;
    top: 0;
    max-width: 260px;
    height: 100vh;
    padding-bottom: 20px;
    overflow-y: auto;
    margin: 20px;
  }
  main {
    margin-left: 260px;
  }
}
.less-space {
  margin-bottom: -12px;
  padding-top: 10px;
}
.less-mtop {
  margin-top: -10px;
}
ol > li {
  text-transform: lowercase;
}
ol {
  margin-bottom: 30px;
}